.centered {
  margin: auto;
  text-align: center;
  color: black;
}
.nightback {
  background-image: url("../img/nighbackground.png");
  background-size: cover;
}
.dayback {
  background-image: url("../img/daybackground.png");
  background-size: cover;
}
.wintermountainbackground {
  background-image: url("https://scontent-lax3-2.xx.fbcdn.net/v/t39.30808-6/268797227_4760445950668257_3695165358285338236_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=a26aad&_nc_ohc=5ezA1noX3R0AX_XMbO_&_nc_oc=AQnMQ9n3DpHjm8SnHjuIlt8ww_-gnaoxmRa0SybTugQpEdBncHwR3Qdm_EuEDHs2hEc&_nc_ht=scontent-lax3-2.xx&oh=00_AT88dUE5GcBA3eY8vhaf4B4YGwHJhxiqxuRUSL9Qhs2Mvw&oe=622B3499");
  background-size: cover;
}
.gray {
  background-color: #ffffffc9;
  padding: 10px;
}
.right {
  float: right;
}
.ninety {
  width: 89vw;
  float: left;
}

.ten {
  width: 10vw;
  float: left;
  padding-top: 15px;
  font-size: large;
}

.hide-scrollbar {
  --offset-bottom: auto !important;
  --overflow: hidden;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

.hundpx{
  height: 50px;
  width: 100%;
  margin-top: 50px;
}

ion-chip {
  min-width: fit-content;
}
#categorySlideSegment {
    padding-left: 16px;
    justify-content: flex-start;
}
#categorySlideSegment {
    --background: #00000000;
    --background-checked: #00000000;
}

#categorySlideSegment ion-segment-button {
    max-width: fit-content;
}