.safe-area-wrapper {
  margin-top: constant(safe-area-inset-top);
  margin-top: env(safe-area-inset-top);
}

.centered {
  margin: auto;
  text-align: center;
}
.basiccentered {
  text-align: center;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.nightback {
  background-image: url("../img/nighbackground.png");
  background-size: cover;
}
.higher {
  padding-bottom: 30px;
  background-color: #c9dce466;
}
.dayback {
  background-image: url("../img/daybackground.png");
  background-size: cover;
}
.wintermountainbackground {
  background-color: #c9dce4;
  background-size: cover;
}
.half-image {
  padding: 0.5px;
}
.trublack {
  color: #000;
}
.gray {
  background-color: #ffffffd8;
  padding: 10px;
}
.white {
  background-color: #ffffff;
  color: black;
  padding: 10px;
}

.right {
  float: right;
}
.left {
  float: left;
}
.ninety {
  width: 79vw;
  float: left;
}

.weatherhead {
  font-size: larger;
  color: #000000;
}

.weatherheadbig {
  font-size: xx-large;
  color: #000000;
}

.ten {
  width: 10vw;
  float: left;
  padding-top: 15px;
  font-size: large;
}

.hide-scrollbar {
  --offset-bottom: auto !important;
  --overflow: hidden;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

.hundpx {
  height: 50px;
  width: 100%;
  margin-top: 50px;
}

ion-chip {
  min-width: fit-content;
}
#categorySlideSegment {
  padding-left: 16px;
  justify-content: flex-start;
}
#categorySlideSegment {
  --background: #00000000;
  --background-checked: #00000000;
}

#categorySlideSegment ion-segment-button {
  max-width: fit-content;
}

.glossbloom {
  font-family: "GlossandBloom";
}
.ios.fab-button-in-list.ion-activatable.ion-focusable.fab-button-show {
  margin: -1.5px 0;
}
.md.fab-button-in-list.ion-activatable.ion-focusable.fab-button-show {
  margin: 1.5px 0;
}

.md.fab-list-side-bottom.fab-list-active {
  margin: 54px 0;
}

.ios.fab-list-side-bottom.fab-list-active {
  margin: 54px 0;
}

#map-page {
  &.isLoading * {
    visibility: hidden;
  }

  #map {
    height: 100vh;
    width: 100vw;

    .mapboxgl-ctrl-top-right {
      top: constant(safe-area-inset-top);
      top: env(safe-area-inset-top);
    }

    .map-container {
      height: 100%;
      .mapboxgl-canvas-container {
        height: 100vh;
        width: auto;

        .mapboxgl-canvas {
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }

  ion-chip {
    background-color: #ffffff;
  }

  .trany {
    transform: translateX(-15vw);
    width: 100%;
    &.green {
      background-color: #c6d488;
      color: black;
      padding: 10px;
    }
    &.yellow {
      background-color: #ffe073;
      padding: 10px;
    }
  }
}
