.centered {
  margin: auto;
  text-align: center;
  color: black;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.nightback {
  background-image: url("../img/nighbackground.png");
  background-size: cover;
}
.dayback {
  background-image: url("../img/daybackground.png");
  background-size: cover;
}
.wintermountainbackground {
  background-color: #c9dce4;
  background-size: cover;
}
.half-image {
  padding: .5px;

}
.gray {
  background-color: #ffffffd8;
  padding: 10px;
}
.yellow {
  background-color: #ffe073;
  padding: 10px;
}
.right {
  float: right;
}
.ninety {
  width: 89vw;
  float: left;
}

.weatherhead{
  font-size: larger;
  color: #000000;
}

.weatherheadbig{
  font-size: xx-large;
  color: #000000;
}

.ten {
  width: 10vw;
  float: left;
  padding-top: 15px;
  font-size: large;
}

.hide-scrollbar {
  --offset-bottom: auto !important;
  --overflow: hidden;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

.hundpx{
  height: 50px;
  width: 100%;
  margin-top: 50px;
}

ion-chip {
  min-width: fit-content;
}
#categorySlideSegment {
    padding-left: 16px;
    justify-content: flex-start;
}
#categorySlideSegment {
    --background: #00000000;
    --background-checked: #00000000;
}

#categorySlideSegment ion-segment-button {
    max-width: fit-content;
}

