#map-page {
  .map-container {
    height: 100%;
    .mapboxgl-canvas-container {
      height: 100%;

      .mapboxgl-canvas {
        position: absolute;
        top: 0;
        left: 0;
        height: 100% !important;
        width: 100% !important;
      }
    }
  }
}