#map-page {
  .map-container {
    height: 100%;
    .mapboxgl-canvas-container {
      height: 100vh;
      width: auto;

      .mapboxgl-canvas {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
  // #marker {
  //   background-image: url('https://docs.mapbox.com/mapbox-gl-js/assets/washington-monument.jpg');
  //   background-size: cover;
  //   width: 50px;
  //   height: 50px;
  //   border-radius: 50%;
  //   cursor: pointer;
  //   }
}
