.cc3121e {
    color: #c3121e;
}

body{
    background-color: #444463c9;

}


.c0000ff{color: #0000ff;}
.c2f4f4f{color: #2f4f4f;}
.c228b22{color: #228b22;}
.c4b0082{color: #4b0082;}
.cffe4c4{color: #ffe4c4;}
.cff0000{color: #ff0000;}
.c8b4513{color: #8b4513;}
.c00ffff{color: #00ffff;}
.c6495ed{color: #6495ed;}
.c000000{color: #000000;}


